In [1]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#loading the dataset
df = pd.read_csv('petrol_consumption.csv')
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [3]:
df.shape

(48, 5)

In [4]:
df.columns

Index(['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)', 'Petrol_Consumption'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
Petrol_tax                      48 non-null float64
Average_income                  48 non-null int64
Paved_Highways                  48 non-null int64
Population_Driver_licence(%)    48 non-null float64
Petrol_Consumption              48 non-null int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [6]:
#Univariate Analysis
df.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [8]:
df.isnull().sum()

Petrol_tax                      0
Average_income                  0
Paved_Highways                  0
Population_Driver_licence(%)    0
Petrol_Consumption              0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split as tts
train, test = tts(df, test_size = 0.2)

In [10]:
train_x = train.loc[:, train.columns != 'Petrol_Consumption']
test_x = test.loc[:, test.columns != 'Petrol_Consumption']
train_y = train['Petrol_Consumption']
test_y = test['Petrol_Consumption']

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
test_pred = model.predict(test_x)

In [17]:
result = pd.DataFrame({'Actual': test_y,
                       'Predicted': test_pred})
print(result)

    Actual   Predicted
13     508  568.307365
27     631  619.799991
43     591  559.180637
28     574  561.373947
36     640  654.556814
23     547  458.639868
16     603  602.203837
3      414  488.829542
32     577  664.492773
38     648  732.780889

In [19]:
#Computing mean_squared_error
from sklearn.metrics import mean_absolute_error, mean_squared_error
print(mean_absolute_error(test_y, test_pred))
print(mean_squared_error(test_y, test_pred))

46.67691026266688
3339.6599987579816

In [21]:
#Computing r2 score
from sklearn.metrics import r2_score
print(r2_score(test_y, test_pred)*100)

25.620210227639117